from django.conf.urls.defaults import patterns, include, url
from django.conf import settings
# Uncomment the next two lines to enable the admin:
from django.contrib import admin
admin.autodiscover()

urlpatterns = patterns('',
    # Examples:
    # url(r'^$', 'mupy.views.home', name='home'),
    url(r'^mupy/', include('mupy.muparse.urls')),
    (r'^accounts/login/$', 'django.contrib.auth.views.login'),
    url(r'^logout/?', 'django.contrib.auth.views.logout', {'next_page': '/mupy'}, name="logout"),
    # Uncomment the admin/doc line below to enable admin documentation:
    #url(r'^admin/doc/', include('django.contrib.admindocs.urls')),

    # Uncomment the next line to enable the admin:
    url(r'^admin/', include(admin.site.urls)),
)


if settings.DEBUG:
    urlpatterns += patterns('',
        (r'^static/(?P<path>.*)', 'django.views.static.serve',\
            {'document_root':  settings.DJANGO_STATIC_URL}),
    )