{% extends "base.html" %}
{% block extrahead %}
<script type="text/javascript">
		$(document).ready(function(){
			$("#login").button();
		});
</script>
{% endblock %}
{% block content %}
<div id="graphs_holder">
	<div id="graph_results_menu">
		<form method="post" action="{% url django.contrib.auth.views.login %}">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="Login" id="login"/><input type="hidden"
				name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock %}
