body{
	font-family: tahoma,arial,helvetica;
	font-size: 10pt;
	margin: 0;
	overflow-x: hidden;
}


body.loading:after {
	content: "Loading...";
	display: block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	background: #eeeeee;
	opacity: 0.5;
	z-index: 1000;
	text-align: center;
	padding: 20% 0;
	font-size: 30px;
	font-weight: 800;
}

#mupy_container{
	min-height: 800px;
	clear: both;
    content: ".";
    display: block;
    border-left: 1px solid #dddddd;
}


#tabs {
	background: none;
	border: none;
	background: #eeeeee;
	padding: 0;
	margin: 0;
}

#tabs:after {
  content:"";
  display:table;
  clear:both;
}


#tabs h4 {
	text-align: center;
	padding: 10px 0;
	color: white;
	font-weight: 300;
}

#tabs ul {
	width: 100%;
	margin: 0;
	padding: 0;
}

#graphs{
	list-style-type: none;
	margin: 0;
	padding: 0;

	padding-right: 15px;
	margin-top: 10px;
}

.graphs_no_list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#graphs_holder{
	height: 100%;
	text-align: center;
	margin: auto;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
	margin-top: 1%;
	padding-left: 1%;
}

.graph_li{
	display: inline;
    margin: 3px 3px 3px 0;
    padding: 1px;
    text-align: center;
    min-height: 410px;
}

.item.saved_searches.hidden {
	opacity: 0.3;

}

#menu .item .menu-content a.loadsearch {
	display: inline-block;
	width: 80%;
}

a.loadsearch ~ label {
	display: inline-block;
	width: 10%;
}


#menu > .menu-wrapper {
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 90px;
}

#menu .item a.loadsearch.active {
	font-weight: 800;
}
#menu .item .menu-content a.loadsearch:hover {
	background: white;
	font-weight: 300;
}

.graph_blockfloat{
	display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    text-align: center;
}

.graph_blockfloat a{
	text-decoration: none;
	color:	#1C94C4;
}

.graph_blockfloat a:hover{
	text-decoration: none;
	color:	#C77405;
}


#deselect{
	text-decoration: none;
	color:	#1C94C4;
}

#save_dialog {
	padding: 10px;
}

#save_dialog:after {
	content: "";
	display: table;
	clear: both;
}

#deselect:hover{
	text-decoration: none;
	color:	#C77405;
}

#logout{
	text-decoration: none;
	color:	#1C94C4;
}

#logout:hover{
	text-decoration: none;
	color:	#C77405;
}

#graph_results_menu{
	color: #333333;
	padding: 20px;
	display: inline-block;
	width: 100%;
	background: #eeeeee;
	border-radius: 20px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.graph_class{
	border:	0px;
	display: block;
}

.options_menu{
	height: 40px;
	border-bottom: 1px solid #DDDDDD;
}

#button_holder{
	margin: 5px;
}

#counted_graphs_holder{
	margin: 2px;
	padding: 5px;
}


.navbar-inverse {
	background: #eeeeee;
}

.group_title{
	color: #727370;
}

.group_graph_holder{
	/*min-height:200px;
	border: 1px solid #DDDDDD;
	margin: 2px;*/

	border-left-width: 0px; border-right-width: 3px; padding-left: 10px; padding-right: 0px;
}

ul.dynatree-container {
    height: auto !important;
}

.errorlist{
	color: red;
 	list-style-type: none;
}

#slider{
	width: 300px;
	margin:auto;
}

#tabs li {
	width: 50%;
	margin: 0 !important;
	float: left;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 0;
	cursor: pointer;
}

#tabs li.active {
	background: #E78F08;
	color: white;
}

#tabs li.active:hover {
	background: #E7AF08;
}


#tabs li:hover {
	background: #888888;
	color: white;
}


#menu .header img {
	width: 150px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 8px;
}

#mupy_container {
	position: relative;
	background: white;
	padding: 20px;
}

#graph_results_menu > div {
	padding: 10px;
	height: auto !important;
}

#menu-toggle {
	display: none;
}

#mupy_page {
	width: 70%;
	float: left;
	margin-left: 30%;
}
.menu-toggle {
	width: 40px;
	height: 40px;
	background: #E78F08;
	position: absolute;
	right: -40px;
	top: 0;
	z-index: 1000;
	cursor: pointer;
	text-align: center;
}


.menu-toggle i {
	line-height: 40px;
	vertical-align: middle;
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.menu-toggle:hover {
	background: #fbaa2b;
	color: white;
}


#menu {
	width: 30%;
	top: 0;
	bottom: 0;
	background: #EEEEEE;
	z-index: 1000;
	min-height: 800px;
	position: fixed;
	float: left;
}


#menu .item:after {
  content: "";
  display: table;
  clear: both;
}

#menu .item .menu-header a {
	color: white;
}

#menu .item .menu-content a {
	display: block;
	padding: 10px;
	text-align: center;
	background: white;
	color: #222222;
}

#menu .item .menu-content a:hover {
	background: #dddddd;
}


#menu:after {
	position: fixed;
	width: 0;
	content: "";
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

.body-wrapper {
	position: relative;
	left: 0;
	background: #EEEEEE;
}

footer {
	text-align: center;
	color: white;
	background: #888888;
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.black {
	width: 100px;
}

.menu-header {
	background: #aaaaaa;
	color: white;
	font-weight: 300;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	cursor: pointer;
}


.menu-header > span {
	margin: 0 10px;
}


#menu .item .menu-header .submit.hidden {
	opacity: 0.1;
}

.menu-content {
	max-height: 0;
	overflow: hidden;
	background: white;

}

.menu-header.active ~ .menu-content {
	max-height: 4000px;
	overflow: auto;
}

.menu-header.active, .menu-header:hover {
	background: #E78F08;
}

#panes {
	background: white;
	margin: 0;
	padding: 0;
	list-style: none;
}

#panes > li {
	display: none;
}

#panes > li .empty {
	padding: 10px;
	text-align: center;
}

#panes > li ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#panes > li ul li {
	text-align: left;
	padding: 4px 0;
}


#panes ul {
	max-height: 0;
	overflow: hidden;
	margin-left: 5%;

}

#panes ul li label {
	display: inline-block;
	line-height: 10px;
	margin: 0;
	cursor: pointer;
}


#panes li.active > ul  {
	margin-left: 5%;
	max-height: 3000px;
	overflow: auto;
}


#panes > li ul li label input {
	display: none;
}

#panes > li ul li .expand {
	cursor: pointer;
	display: inline-block;
	font-weight: 800;
	width: 93%;
}

#panes > li ul li .expand i {
	margin-left: 5px;
}


#panes > li ul li > .expand  .plus, #panes > li ul li.active > .expand .minus {
	display: inline-block;
}

#panes > li ul li.active > .expand .plus, #panes > li ul li > .expand .minus {
	display: none;
}


#panes > li ul li label .ui-input {
	margin-right: 10px;
	font-size: 13px;
}

#panes > li ul li label .ui-input .unchecked{
	color: #aaaaaa;
}

#panes > li ul li label .ui-input .checked, #panes > li ul li label input:checked ~ .ui-input .unchecked {
	display: none;
}

label {
	cursor: pointer;
}

#panes > li ul li label input:checked ~ .ui-input .checked{
	display: inline-block;
	color: #3b68f3;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked ~ .ui-input .checked {
	display: inline-block;
	color: #3b68f3;
}


input[type="radio"]:checked ~ .default-search {
	display: inline-block;
}

input[type="radio"]:checked ~ .default-search-empty {
	display: none;
}

input[type="radio"] ~ .default-search {
	display: none;
}

input[type="radio"] ~ .default-search-empty {
	display: inline-block;
}

input[type="radio"] ~ .ui-input .unchecked {
	display: inline-block;
	color: #aaaaaa;
}

input[type="radio"]:checked ~ .ui-input .unchecked, input[type="radio"] ~ .ui-input .checked{
	display: none;
}


#panes > li.active {
	display: block;
}

#graphs a {
	padding: 1%;
	display: inline-block;
	box-sizing: "border-box";
}

h5 {
	text-align: center;
}

.options {
	text-align: center;
}

textarea {
	border: none;
	border-radius: 0;
	resize: none;
	width: 100%;
	border-bottom: 1px solid silver;
	margin-bottom: 10px;
}


.default-search {
	color: orange;
}


.delete {
	color: red;
	cursor: pointer;
}

.clear-selection {
	background: #e73f3f;
	margin: 0;
	padding: 10px;
	float: left;
	color: white;
	width: 100%;
	cursor: pointer;
}

.profile {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 40px;
}


.menu-header.submit {
	background: #00d86d;
}
.menu-header.submit:hover {
	background: green;

}

.read_only .delete {
	display: none;
}

.read_only .item.save {
	display: none;
}

.read_only .clear-selection {
	display: none;
}

.clear-selection.hidden {
	display: none;
}


.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 70%;
}
