body{
	font-family: tahoma,arial,helvetica !important;
	font-size: 10pt !important;
	background: #333333;
	margin: 0;
	overflow-x: hidden;
}

#mupy_container{
	min-height: 800px;
	clear: both;
    content: ".";
    display: block;
}

#tree_menu{
	display: block;
	float:left;
	width: 250px;
	padding-left: 5px;

}

.ui-widget-content {
	background: none !important;
}


#tabs {
	background: none;
	border: none;
	background: #eeeeee;
	padding-left: 1%;
	margin: 0;
}

#tabs:after {
  content:"";
  display:table;
  clear:both;
}


#tabs h4 {
	text-align: center;
	padding: 10px 0;
	color: white;
	font-weight: 300;
}

#tabs ul {
	width: 100%;
	margin: 0;
	padding: 0;
}

#graphs{
	list-style-type: none;
	margin: 0;
	padding: 0;

	padding-right: 15px;
	margin-top: 10px;
}

.graphs_no_list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#graphs_holder{
	height: 100%;
	text-align: center;
	margin: auto;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
	margin-top: 1%;
	padding-left: 1%;
}

.graph_li{
	display: inline;
    margin: 3px 3px 3px 0;
    padding: 1px;
    text-align: center;
    min-height: 410px;
}

.graph_blockfloat{
	display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    text-align: center;
}

.graph_blockfloat a{
	text-decoration: none;
	color:	#1C94C4;
}

.graph_blockfloat a:hover{
	text-decoration: none;
	color:	#C77405;
}

.savedsearches_class a{
	text-decoration: none;
	color:	#1C94C4;
}

.savedsearches_class a:hover{
	text-decoration: none;
	color:	#C77405;
}

#deselect{
	text-decoration: none;
	color:	#1C94C4;
}

#deselect:hover{
	text-decoration: none;
	color:	#C77405;
}

#logout{
	text-decoration: none;
	color:	#1C94C4;
}

#logout:hover{
	text-decoration: none;
	color:	#C77405;
}

#graph_results_menu{
	color: #333333;
	padding: 20px;
	display: inline-block;
	width: 100%;
	background: #eeeeee;
	border-radius: 20px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.graph_class{
	border:	0px;
	display: block;
}

.options_menu{
	height: 40px;
	border-bottom: 1px solid #DDDDDD;
}

#button_holder{
	margin: 5px;
}

#counted_graphs_holder{
	margin: 2px;
	padding: 5px;
}

#save_dialog{
	height: 40px;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
}

#save_dialog input{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    float: left;
    outline: medium none;
    width: 150px;
    padding: 10px;
}

#save_dialog label {
    color: #666666;
    float: left;
    font-weight: bold;
    line-height: 26px;
    margin-right: 15px;
    text-align: right;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 110px;
    padding-top: 5px;
}

.navbar-inverse {
	background: #eeeeee;
}

.group_title{
	color: #727370;
}

.group_graph_holder{
	/*min-height:200px;
	border: 1px solid #DDDDDD;
	margin: 2px;*/

	border-left-width: 0px; border-right-width: 3px; padding-left: 10px; padding-right: 0px;
}

ul.dynatree-container {
    height: auto !important;
}

.errorlist{
	color: red;
 	list-style-type: none;
}

#slider{
	width: 300px;
	margin:auto;
}

#tabs li {
	width: 33.3%;
	margin: 0 !important;
	float: left;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	padding: 1% 0;
	cursor: pointer;
}

#tabs li.active {
	background: #E78F08;
	color: white;
}

#tabs li.active:hover {
	background: #E7AF08;
}


#tabs li:hover {
	background: #888888;
	color: white;
}



#header div {
	display: block;
	width: 150px;
	margin: 0 auto;
	padding: 5px 0;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 65px;
	z-index: 0;
}

#header a {
	display: inline-block;
}

#header a img {
	width: 150px;
	height: auto;
	display: block;
}

#mupy_container {
	margin-top: 65px;
	z-index: 10;
	position: relative;
	background: white;
	padding: 20px;
}

#mupy_container:before {
	display: block;
	content: "";

	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	box-shadow: 0px 0 20px 2px silver;
	width: 100%;
}

#graph_results_menu > div {
	padding: 10px;
	height: auto !important;
}

#menu-toggle {
	display: none;
}

.menu-toggle {
	width: 65px;
	height: 65px;
	background: #E78F08;
	position: absolute;
	right: -65px;
	top: 0;
	z-index: 1000;
	cursor: pointer;
	text-align: center;
}

.menu-toggle i {
	line-height: 65px;
	vertical-align: middle;
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.menu-toggle:hover {
	background: #fbaa2b;
	color: white;
}

#menu-toggle:checked ~ .body-wrapper {
	left: 30%;
}

#menu-toggle:checked ~ .body-wrapper #menu:after {
	width: 30%;
	background: #333333;
	height: 65px;

}

#menu {
	position: absolute;
	left: -30%;
	width: 30%;
	background: #333333;
	top: -65px;
	z-index: 1000;
	min-height: 800px;
}

#menu:after {
	position: fixed;
	width: 0;
	content: "";
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
	transition: width 0.5s;
	-webkit-transition: width 0.5s;
}

.body-wrapper {
	position: relative;
	left: 0;
	transition: left 0.5s;
	-webkit-transition: left 0.5s;
}

footer {
	text-align: center;
	color: white;
	background: #888888;
	padding: 10px;
}

.menu-header {
	height: 65px;
	background: #E78F08;
	color: white;
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	line-height: 65px;
}

#panes {
	background: white;
	margin: 0;
	padding: 0;
	list-style: none;
}

#panes > li {
	display: none;
}

#panes > li ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#panes > li ul li {
	text-align: left;
}

#panes ul {
	max-height: 0;
	overflow: hidden;
	margin-left: 5%;
	-webkit-transition: max-height .5s, margin-left .5s;
    transition: max-height .5s, margin-left .5s;
}

#panes ul li label {
	padding: 2%;
	border-bottom: 1px solid #DDDDDD;
	display: inline-block;
	width: 90%;
	line-height: 15px;
	margin:0 ;
}

#panes ul.active {
	margin-left: 5%;
	max-height: 3000px;
	overflow: auto;
}


#panes > li ul li label input {
	display: none;
}

#panes > li ul li .expand {
	cursor: pointer;
	display: inline-block;
}


#panes > li ul li .expand .plus, #panes > li ul li .expand.open .minus {
	display: inline-block;
}

#panes > li ul li .expand.open .plus, #panes > li ul li .expand .minus {
	display: none;
}


#panes > li ul li label .ui-input {
	margin-right: 10px;
	font-size: 20px;
}

#panes > li ul li label .ui-input .unchecked{
	color: #aaaaaa;
}

#panes > li ul li label .ui-input .checked, #panes > li ul li label input:checked ~ .ui-input .unchecked {
	display: none;
}

#panes > li ul li label input:checked ~ .ui-input .checked{
	display: inline-block;
	color: #3b68f3;
}

#panes > li.active {
	display: block;
}
