{% extends "base.html" %}
{% load staticfiles %}
{% block extrajs %}
<script type="text/javascript">
		$(document).ready(function(){
			$("#login").button();
		});
</script>
{% endblock %}
{% block menu_button %}{% endblock %}
{% block content %}
<div id="graphs_holder">
	<img class="black" src="{% static 'images/mupy-black.png' %}" alt="">
	<div id="graph_results_menu">
		<h1>Welcome to mupy!</h1>
		<form method="post" action="{% url django.contrib.auth.views.login %}">
			{% csrf_token %}
			{{form.as_p}}
			<input class="btn btn-default" type="submit" value="Login" id="login"/><input type="hidden"
				name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock %}
