{% extends "base.html" %}
{% block extrahead %}
<script type="text/javascript">
		var showGraphs = false;
		var allLoaded = false;
		var refreshId = false;
		var catLoaded = false;
		var refreshTime = 5;
		var activeTabIndex = false;
		graphs_arr = new Array();
		var searchesNames = new Array();
		var selectedKeys = new Array();
		urlTabArray = ["{% url getjson_all user.pk %}", "{% url getjson_category user.pk %}"];
		countGraphs = 0;
		var loaded_graphs = new Array();
		{% if new_window %}
			mydata = "{{new_window.result}}";
			//var nwdata = $.parseJSON(mydata)
			var darray = ("{{new_window.result}}").split(',');
			loaded_graphs = darray;
		
		{% endif %}
		{% if saved %}
			{% for sav in saved %}
				searchesNames.push("{{sav}}");
			{% endfor %}
		{% endif %}
		
		
		
		$(document).ready(function(){
			
			{% if new_window %}
				$("#tabs").hide();
				$("#counted_graphs_holder").hide();
				$("#user_details").hide();
			{% endif %}
			$("#counted_graphs").html("0 graphs selected");
			$("#graphs").empty();
			$("#save_dialog").hide();
			$( "#slider" ).slider({
				range: "max",
				min: 3,
				max: 15,
				value: 5,
				slide: function( event, ui ) {
					refreshTime = ui.value ;
					if (refreshId != false){
						clearInterval(refreshId);
					}
					$( "#refreshIndicator" ).text( ui.value );
				}
			});
			$( "#refreshIndicator" ).text( $( "#slider" ).slider( "value" ) );
			
			$( "#tabs" ).resizable({
				maxWidth: 400,
				minWidth: 252,
				handles: "e",
				alsoResize: ".dynatree-container",
				resize: function(event, ui) {
					$("ul.dynatree-container").css('height','auto');
					$("ul.dynatree-container").css('width','auto'); 
					$( "#tabs" ).css('height','auto');
					}
			});
			$( "#tabs" ).tabs({
				   show: function(event, ui) {
					   clearGraphData();
					   if (ui.index == 0 || ui.index == 1){
						   activeTabIndex = ui.index;
						   $("#tree_menu_"+ui.index).dynatree({
								checkbox: true,
								selectMode: 3,
								debugLevel: 0,
								ajaxDefaults: { 
							        cache: true, // false: Append random '_' argument to the request url to prevent caching.
							    },
							    initAjax: 
							    {
							    	url: urlTabArray[ui.index],
							    },
							    onPostInit: function(isReloading, isError) {
							    	allLoaded = true;
									$("#tree_menu_"+activeTabIndex).dynatree("getRoot").visit(function(node){
										if (node.hasChildren() == false){
											nodekey = node.data.key.replace("graph_", "");
										}
										else{
											nodekey = node.data.key;
										}
						    		 	if ($.inArray(nodekey, loaded_graphs) != -1){
											node.select(true);
						    		 	}
						    		 	else{
						    		 		node.select(false);
						    		 	}
									});
									{% if new_window %}
										$("#fetch").click();
									{% endif %}
							    },
							    onSelect: function(select, node) {
							    	var selNodes = node.tree.getSelectedNodes();
							    	clearGraphData();
								    var selKeys = $.map(selNodes, function(node){
									    if (node.hasChildren() == false){
									    		countGraphs = countGraphs +1;
									    		graphObj = new Object();
									    		graphObj.nodename = node.data.nodename;
									    		graphObj.graphname = node.data.graphname;
									    		graphObj.title = node.data.title;
									    		graphObj.imgurl = node.data.url
									    		graphObj.pageurl = node.data.pageurl
									    		graphObj.nodeurl = node.data.nodeurl
									    		graphs_arr.push(graphObj);									    			
									    		selectedKeys.push(node.data.key.replace("graph_",""));
									    		$("#counted_graphs").html(selectedKeys.length+' graphs selected');
											}
								    });
							    }, 
							});
					   }
					   
				   },
				   select: function(event, ui) {
					   if (allLoaded == true){
						   $("#tree_menu_"+activeTabIndex).dynatree("getRoot").visit(function(node){
								node.select(false);
							});
					   }
				   }
				});
			$("#fetch")
				.button()
				.click(function(){
					if (selectedKeys.length == 0){
						alert("Select at least a graph from the left menu");
						return false;
					}
					$("#graphs").empty();
					fetchGraphs();
					if (refreshId != false){
						clearInterval(refreshId);
					}
					refreshId = setInterval(function(){
						$("#graphs").empty();
						fetchGraphs();
					}, refreshTime*1000*60);
					return false;
				});
			$("#deselect")
			.click(function(){
				if (refreshId != false){
					clearInterval(refreshId);
				}
				if (allLoaded == true){
					$("#tree_menu_"+activeTabIndex).dynatree("getRoot").visit(function(node){
							node.select(false);
						});
				   }
			clearGraphData();
			return false
			});
			
			$("#save")
				.button()
				.click(function(){
					if (selectedKeys.length == 0){
						alert("Select at least a graph from the left menu")
						return false;
					}
				$("#save_dialog").toggle("slow");
				return false
			});
			
			$("#saveThisQuery")
			.button()
			.click(function(){
				if (selectedKeys.length == 0){
					alert("Select at least a graph from the left menu")
				}
				else{
					if ($.inArray($("#id_description").val(), searchesNames) != -1){
						var r=confirm("There is a saved search with the same name: "+$("#id_description").val()+"\n"
								+"Press OK to ovewrite or Cancel to cancel save");
						if (r==false){
							$("#id_is_edit").empty();
							return false;
						}
						else{
							$("#id_is_edit").val('edit');
						}
	    		 	}
	    		 	
					$("#id_graphs").val(selectedKeys.join(','));
					$("#id_display_type").val(activeTabIndex);
					data = $("#saveQueryForm").serialize();
					$.post('{% url save_search %}', data, 
						function(out) {
						  alert(out.result);
						  if (out.errors == "None"){
							  searchesNames.push($("#id_description").val());
						  }
						  $("#id_is_edit").empty();
						  $("#save_dialog").toggle("slow");
						}
					);
					
				}
				return false;
			});
			
			$( "#dialog" ).dialog({
				autoOpen: false,
				width: 600,
				show: "blind",
				hide: "blind"
			});
			


		});
		
		function clearGraphData(){
			graphs_arr = new Array();
			countGraphs = 0;
			$("#counted_graphs").html("0 graphs selected");
			$("#graphs").empty();
			selectedKeys = new Array();
		}
		
		function fetchGraphs(){
			var period = $("input:radio[name=period]:checked").val();
			var grouptype = $("input:radio[name=grouping]:checked").val();
			grouppedgraphs = groupGraphs(grouptype);
			for (var j=0, k=grouppedgraphs.length; j<k; j++){
				graph_group = grouppedgraphs[j];
				$("#graphs").append("<div class='group_graph_holder'><h3 class='group_title'><a href='#group'"+j+">"+graph_group[grouptype]+"</a></h3><ul id='graph_group_"+j+"' class='graphs_no_list'></ul></div>");
				$(".group_graph_holder").accordion(
							{collapsible: true,
							autoHeight: false,
							});
				for(var i=0, l=graph_group.graphs.length; i<l; i++){
					graphitem = graph_group.graphs[i];
					var randomNo = Math.floor(Math.random()*9999999);
					$("#graph_group_"+j+"").append(
							"<li class='graph_li'>"+
								"<div class='graph_blockfloat'>"+
								"<a href='"+graphitem.nodeurl+"' target='_blank'>"+
									graphitem.nodename+"</a>"+
									"<br>"+
									"<a href='"+graphitem.pageurl+"' target='_blank'>"+
									graphitem.graphname+"<br><br>"+
									"<img class='graph_class' src='"+graphitem.imgurl+"-"+period+".png?r="+randomNo+"'/></a>"+
							"</div></li>");
				}
			}
		}
		function groupGraphs(type){
			graphGroupArr = new Array();
			graphGroup = new Object();
			graphGroup.graphs = new Array();
			for(var i=0, l=graphs_arr.length; i<l; i++){
				graphitem = graphs_arr[i];
				if (type == 'nogroup')
				{
					graphGroup[type] = "No grouping"
					graphGroup.graphs.push(graphitem);
				}
				else
				{
					found = findIndexByKeyValue(graphGroupArr, type, graphitem[type]);
					if (found == null){
						graphGroup = new Object();
						graphGroup.graphs = new Array();
						graphGroup[type] = graphitem[type];
						graphGroup.graphs.push(graphitem);
						graphGroupArr.push(graphGroup);
					}
					else{
						graphGroupArr[found].graphs.push(graphitem)
					}
				}
			}
			if (type == 'nogroup')
			{
				graphGroupArr.push(graphGroup);
			}
			return graphGroupArr;
			
		}
		function findIndexByKeyValue(obj, key, value)
		{
		    for (var i = 0; i < obj.length; i++) {
		        if (obj[i][key] == value) {
		            return i;
		        }
		    }
		    return null;
		}
		
		</script>
{% endblock %}
{% block content %}
			<div id="results_wrapper">
				
				<div id="tabs" style="overflow: visible">
					<div style="text-align:center;">Select graphs</div>
					<ul>
						<li><a href="#tree_menu_0">All</a></li>
						<li><a href="#tree_menu_1">By Type</a></li>
						<li><a href="{% url saved_searches %}">Saved</a></li>
					</ul>
					<div id="tree_menu_0"></div>
					<div id="tree_menu_1"></div>
				</div>
				<div id='graphs_holder'>
					
					<div id="graph_results_menu">
						<div id='user_details' class='options_menu' style="height: 20px;">Logged in as: {{user}} (<a href="{% url logout %}" id="logout">Logout</a>)</div>
						<div id='selected_list' class='options_menu'>Choose graph period:<br>
							<form action="">
								<input type="radio" name="period" value="day" checked="checked"> day 
								<input type="radio" name="period" value="week"> week 
								<input type="radio" name="period" value="month"> month 
								<input type="radio" name="period" value="year"> year<br>
							</form>
						</div>
						<div id='grouping_list' class='options_menu'>Choose Grouping:<br>
							<form action="">
								<input type="radio" name="grouping" value="nogroup" checked="checked"> none 
								<input type="radio" name="grouping" value="nodename"> hostname
								<input type="radio" name="grouping" value="graphname"> type<br>
							</form>
						</div>
						<div id='refresh_interval' class='options_menu' style="height: 40px;">Refresh Interval: <span id="refreshIndicator"></span> mins<br>
							<div id="slider"></div>
						</div>
						<div id="button_holder">
							<div id="counted_graphs_holder"><span id="counted_graphs">0 graphs selected</span> {% if not new_window %}<span>(<a href="#" id="deselect">deselect all</a>)</span>{% endif %}</div>
							<button id="fetch">Apply</button>{% if not new_window %}<button id="save">Save...</button>{% endif %}
						</div>
						<div id="save_dialog" style="display:none">
							<form action="" id="saveQueryForm">
								{% csrf_token %}
								<label for="id_description">Description</label>
								<input name="description" id="id_description" type="text"></input>
								<input type="hidden" id="id_graphs" name="graphs"></input>
								<input type="hidden" id="id_display_type" name="display_type"></input>
								<input type="hidden" id="id_is_edit" name="is_edit"></input>
								<button id="saveThisQuery">Save</button>
							</form>
						</div>
					</div>
					<div id="graphs"></div>
				</div>
				<div style="clear:both"></div>
			</div>
			<div id="dialog"><p id="dialogContent" style="font-size: 10pt"></p></div>
{% endblock %}
