{% extends "base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
{% endblock %}

{% block menu %}
	<div class="menu-wrapper">
		<div class="header">
			<a href="{% url home %}"><img src="{% static 'images/mupy_logo.png' %}" class="logoimg" height='104px'></a>
		</div>
		<div class="item saved_searches {% if not saved %}hidden{% endif %}" data-url="{% url saved_searches %}">
			<div class="menu-header">
				<i class="fa fa-heart"></i><span>Saved Searches</span>
			</div>
			<div class="menu-content">
				{% for search in saved %}
				<div>
					<a class="loadsearch" href="{% url load_search search.id %}">{{ search }}</a><label data-url={{ search.get_default_url }}><input type="radio" name="default-search"><i class="fa default-search fa-star"></i><i class="fa default-search-empty fa-star-o"></i></label><i data-url={{ search.get_delete_url }} class="fa fa-times delete"></i>
				</div>
				{% empty%}
				<div>
					No saved Searches
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="item">
			<div class="menu-header">
				<i class="fa fa-area-chart"></i><span>Graphs</span>
			</div>
			<div class="menu-content">
				<h5 class="clear-selection">Clear selection</h5>
				<ul id="tabs" class="col-md-12">
					<li data-href="{% url getjson_all user.pk %}" class="active">All</li>
					<li data-href="{% url getjson_category user.pk %}">By Type</li>
				</ul>
				<ul id="panes"  class="col-md-12">
					<li class="active">
						<div class="empty">
							<i class="fa fa-cog fa-spin fa-2x"></i>
						</div>
					</li>
					<li>
						<div class="empty">
							<i class="fa fa-cog fa-spin  fa-2x"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="item options">
			<div class="menu-header">
				<i class="fa fa-cogs"></i><span>Views options</span>
			</div>
			<div class="menu-content">
				<h5>Graph Period</h5>
				<div>
						<label><input type="radio" name="period" value="day" checked="checked"><span class="ui-input"><i class="checked fa fa-check-circle"></i><i class="unchecked fa fa-circle-thin"></i></span> day</label>
						<label><input type="radio" name="period" value="week"><span class="ui-input"><i class="checked fa fa-check-circle"></i><i class="unchecked fa fa-circle-thin"></i></span> week</label>
						<label><input type="radio" name="period" value="month"><span class="ui-input"><i class="checked fa fa-check-circle"></i><i class="unchecked fa fa-circle-thin"></i></span> month</label>
						<label><input type="radio" name="period" value="year"><span class="ui-input"><i class="checked fa fa-check-circle"></i><i class="unchecked fa fa-circle-thin"></i></span> year</label>
				</div>
				<h5>Choose Grouping</h5>
				<div>
					<label><input type="radio" name="grouping" value="nogroup" checked="checked"><span class="ui-input"><i class="checked fa fa-check-circle"></i><i class="unchecked fa fa-circle-thin"></i></span> none</label>
					<label><input type="radio" name="grouping" value="nodename"><span class="ui-input"><i class="checked fa fa-check-circle"></i><i class="unchecked fa fa-circle-thin"></i></span> hostname</label>
					<label><input type="radio" name="grouping" value="graphname"><span class="ui-input"><i class="checked fa fa-check-circle"></i><i class="unchecked fa fa-circle-thin"></i></span> type<br>
				</div>
				<h5>Refresh Interval</h5>
				<div>
					<label><input type="radio" name="refresh" value="30"><span class="ui-input"><i class="checked fa fa-check-circle"></i><i class="unchecked fa fa-circle-thin"></i></span> 30 mins</label>
					<label><input type="radio" name="refresh" checked='chekced' value="0"><span class="ui-input"><i class="checked fa fa-check-circle"></i><i class="unchecked fa fa-circle-thin"></i></span> None<br>
				</div>
			</div>
		</div>
		<div class="item save hidden">
			<div class="menu-header">
				<i class="fa fa-floppy-o"></i><span>Save</span>
			</div>
			<div class="menu-content">
				<div id="save_dialog">
					<form action="" id="saveQueryForm" data-post="{% url save_search %}">
						{% csrf_token %}
						<textarea name="description" id="id_description" placeholder="Description"></textarea>
						<input type="hidden" id="id_graphs" name="graphs">
						<input type="hidden" id="id_display_type" name="display_type">
						<input type="hidden" id="id_is_edit" name="is_edit">
						<input type="hidden" id="id_user" name="user" value="{{ request.user.pk }}">
						<button class="btn btn-default" id="saveThisQuery">Save</button>
					</form>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="menu-header submit hidden">
				<span>Show <span class="selected"></span> graphs</span><i class="fa fa-arrow-right"></i>
			</div>
		</div>
		<div class="item">
			<div class="menu-header">
				<i class="fa fa-user"></i><span><a href="{% url logout %}" id="logout">Logout</a></span>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
			<div id="results_wrapper">
				<div id='graphs_holder' class="col-md-12">
					<div id="graphs"></div>
				</div>
			</div>
{% endblock %}
